.header{
    background-color: #015C94;
    height: 10vh;
    font-size: large;  
}


.ms_logo_and_text{
    display: flex;
    flex-direction: row;
  
}

.ms_logo{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
  
}

.header_text{
    color: white;
    font-family: '"Trade Gothic", Arial, sans-serif';
    margin-left: 10px;
    margin-top: 20px;
}