.header{
    background-color: #015C94;
    font-size: large; 
    height: 100%; 
}


.ms_logo_and_text{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.ms_logo{
    height: 26px;
    width: 170px;
    margin-top: 20px;
    margin-left: 20px;
  
}

.header_text{
    color: white;
    font-family: '"Trade Gothic", Arial, sans-serif';
    margin-left: 20px;
    margin-top: 25px;
    
}